@model toptenV2.Models.Listing

@{
    ViewData["Title"] = "Details";
}
<div class="box box-auto">
    <h2>Details</h2>

    <div>
        <h4>Listing</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Creator)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Creator)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SubCategory)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SubCategory.ID)
            </dd>
            
        </dl>
    </div>
    <div>
        <a asp-action="Index"asp-route-id="@Model.SubCategoryID">Back to List</a>
    </div>
</div>