@model IEnumerable<toptenV2.Models.Listing>

@{
    ViewData["Title"] = "Index";
}
<div class="box box-auto">
    <h2 style="text-align:center;">
        Our 
        @foreach (var item in Model)
        { 

                @Html.DisplayFor(modelItem => item.SubCategory.Name)
            break;
        }
         Collection
    </h2>

    <h1 style="text-align:center;">
        @*@foreach (var item in Model)
        {
        <a asp-action="Create" asp-route-subcatID="item.SubCategoryID" class="btn btn-success btn"> Create New</a>
            break;
        }*@
        <!--for the creat, back to the correct page(subcatID)i got very close but im missing something .
            i left everything still intact a made it go to home instead-->
        <a asp-action="Create" class="btn btn-success btn"> Create New</a>
    </h1>


    <table class=" table table-bordered table-hover" style="background:#ffffff">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Creator)
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creator)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" asp-route-subcatID="@item.SubCategoryID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

